// Set default device type
$default-device : all !default;

// Set default unit
$default-unit-for-unitless : 'px' !default;

$sm : 576px !default;
$md : 768px !default;
$lg : 992px !default;
$xl : 1200px !default;

// Breakpoints
$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
) !default;

$devices: (
  all: all,
  print: 'only print',
  screen: 'only screen',
  speech: 'only speech'
) !default;

$queries: (
  portrait:  ( orientation: portrait ),
  landscape: ( orientation: landscape ),
  dark:      ( prefers-color-scheme: dark ),
  light:     ( prefers-color-scheme: light ),
  max-xs:    ( max-width: $sm - 1 ),
  max-sm:    ( max-width: $md - 1 ),
  max-md:    ( max-width: $lg - 1 ),
  max-lg:    ( max-width: $xl - 1 )
) !default;