// Size Queries
// **************************************
@mixin min( $value ) {
  @if is_number($value) {
    $value: fix-unitless($value);

    @include media($value) {
      @content;
    }
  }
}

@mixin max( $value ) {
  @if is_number($value) {
    $value: fix-unitless($value);

    @include media(max-width $value) {
      @content;
    }
  }
}

@mixin between( $min, $max ) {
  @if is_number($min) and is_number($max) and $max > $min {
    $min: fix-unitless($min);
    $max: fix-unitless($max);

    @include media($min, $max) {
      @content;
    }
  }
}

@mixin width( $value ) {
  @if is_number($value) {
    $value: fix-unitless($value);

    @include media(width $value) {
      @content;
    }
  }
}

@mixin height( $value ) {
  @if is_number($value) {
    $value: fix-unitless($value);

    @include media(height $value) {
      @content;
    }
  }
}

// Min-Width
@mixin min-xs() {
  @include min($xs-min) {
    @content;
  }
}

@mixin min-sm() {
  @include min($sm-min) {
    @content;
  }
}

@mixin min-md() {
  @include min($md-min) {
    @content;
  }
}

@mixin min-lg() {
  @include min($lg-min) {
    @content;
  }
}

@mixin min-xl() {
  @include min($xl-min) {
    @content;
  }
}

// Max-width
@mixin max-xs() {
  @include max($xs-max) {
    @content;
  }
}

@mixin max-sm() {
  @include max($sm-max) {
    @content;
  }
}

@mixin max-md() {
  @include max($md-max) {
    @content;
  }
}

@mixin max-lg() {
  @include max($lg-max) {
    @content;
  }
}

// Min-Width and Max-Width
@mixin xs() {
  @include minMax($xs-min, $xs-max) {
    @content;
  }
}

@mixin sm() {
  @include minMax($sm-min, $sm-max) {
    @content;
  }
}

@mixin md() {
  @include minMax($md-min, $md-max) {
    @content;
  }
}

@mixin lg() {
  @include minMax($lg-min, $lg-max) {
    @content;
  }
}

// Orientations
// **************************************
@mixin orientation( $value ) {
  @if is_exist($orientations, $value) {
    @include media(orientation $value) {
      @content;
    }
  }
}

@mixin portrait() {
  @include orientation(portrait) {
    @content;
  }
}

@mixin landscape() {
  @include orientation(landscape) {
    @content;
  }
}

// Retina
// **************************************
@mixin retina() {
  @include media(retina) {
    @content;
  }
}

// Dark and Light Mode
// **************************************
@mixin color-scheme( $value ) {
  @if is_exist($color-modes, $value) {
    @include media(prefers-color-scheme $value) {
      @content;
    }
  }
}

@mixin dark-mode() {
  @include color-scheme(dark-mode) {
    @content;
  }
}

@mixin light-mode() {
  @include color-scheme(light-mode) {
    @content;
  }
}

// Aspect Ratio
// **************************************
@mixin ratio( $ratio ) {
  @if is_number($ratio) {
    @include media(aspect-ratio $ratio) {
      @content;
    }
  }
}